@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction:column;
    }

    .botao{
        margin: 5px;
        width: 190px;
    }

    .title{
        font-size: 30px;
    }

    .filme-principal .sinopse{
        font-size: 20px;
    }
}

@media screen and (min-width:1000px){
    
    .sinopse{
        width: 80%;
    }
}